name : Continuous Integration

## Run CI jobs on all branches by default
on:
  push:
    branches:
        - '**'
  pull_request:
    branches:
      - '**'

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set ip Java toolchain
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '21'
            cache: 'gradle'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build and test
        run: ./gradlew build --warning-mode all

      - name: SonarCloud analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        if: ${{ env.SONAR_TOKEN != '' }}
        run: ./gradlew sonar -Dsonar.qualitygate.wait=true --warning-mode all
