name : Continuous Integration

## Run CI jobs on all branches by default
on:
  push:
    branches:
        - '**'
  pull_request:
    branches:
      - '**'

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set ip Java toolchain
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '21'
            cache: 'gradle'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build, test
        run: ./gradlew build

      - name: PMD static analysis
        uses: pmd/pmd-github-action@v2
        id: pmd
        with:
          rulesets: 'ruleset.xml'

      - name: Fail build if there are violations
        if: steps.pmd.outputs.violations != 0
        run: exit 1

